@media all and (max-width : 600px)
{
	p
	{
		color : black;
	}

	#acteur
	{

		display: flex;
		flex-direction: column;
		justify-content: center;
		
	}
	
	.logo
	{
		height: 25%; 
		width: 100%; 
		display: block;
		
	}

	.texte
	{
		width: 80%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.bouton
	{
		height: 20%; 
		width: 20%;
		float: right;
	}


	#bloctete
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 40%;
	}
}

@media all and (min-width : 601px ) and (max-width : 1220px)
{
	p
	{
		color: black;
	}

	#bloctete
	{
		display: flex;
		justify-content: center;
	}

	#acteur
	{

	
		display: flex;
		flex-direction: wrap;
		justify-content: space-between;
		
		
		
	}

	.logo
	{
		height: 200px; 
		width: 350px; 
		display: block;
		
	}

	.texte
	{
		max-width: 250px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-left: 0;


	}

	.bouton
	{
		height: 60px; 
		width: 200px;
		float: right;
		margin-top: 80%;
		
		
		
	}

}

@media all and (min-width : 1221px )
{
	p
	{
		color: black;
	}

	#bloctete
	{
		display: flex;
		justify-content: space-around;
	}

	#acteur
	{

	
		display: flex;
		
		
		
		
	}

	.logo
	{
		height: 200px; 
		width: 350px; 
		display: block;
		
	}

	.texte
	{
		width: 600px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-left: 0;


	}

	.blocvide
	{

		width : 1000px;
	}


	.bouton
	{
		height: 100px; 
		width: 200px;
		float: right;
		margin-top: 50%;
		
		
		
	}

	

}

@media all
{
	body
	{
		background-color: yellowgreen;
	}

	footer
	{
		text-align: center;
		background-color: gray ;	
	}

	h4
	{
		text-align: center;
	}

	#comment
	{
		display: flex;
		justify-content: right;
		
	}	


	#acteur
	{
		border: 5px red double;
	}	
}
